html {
  box-sizing: border-box;
  moz-text-size-adjust: 100%;
  ms-text-size-adjust: 100%;
  webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  color: #fff;
  font-family: "Dancing Script", cursive;
}

body {
  background-color: #eab39b;
}

svg {
  width: 100%;
  height: 100%;
}

.pink-heart-l, .pink-heart-r, .aqua-orb-r, .aqua-orb-l {
  transform: scale(1);
  transform-origin: center center;
}

.pink-heart-l:hover, .pink-heart-r:hover, .aqua-orb-r:hover, .aqua-orb-l:hover {
  animation: expand 5s ease forwards;
}

@keyframes expand {

  0% {
    transform: scale(1);
  }

  50% {

    transform: scale(1.25);
  }

  100% {
    transform: scale(1.5);
  }
}

.cherubs {
  transition: all 200ms ease-in;
}

.cherub1, .cherub2 {
  opacity: 0;
}

.cherub2 {
  transform-origin: 60px 221px;
}

.cherub1 {
  transform-origin: 609px 221px;
}

.js-cherubs-animate .cherub1 {
  opacity: 1;
  animation: cherubs-rotate 5s;
}

@keyframes cherubs-rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.js-cherubs-animate .cherub2 {
  opacity: 1;
  animation: cherubs-spin 5s;
}

@keyframes cherubs-spin {

  0% {

    transform: rotate(0);
  }

  100% {

    transform: rotate(360deg);
  }
}

.red-heart {
  transform:translate(0);
}

.move-heart {
  transform:translateY(-70px);
}

.change-colour {
  fill: pink;
}

.circle {
  fill: yellow;
}
